<a href="https://colab.research.google.com/github/PStettler/DSF-DCBP-Philip-Stettler/blob/main/codingTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/DataScienceFundamentals2022/4ms_10 av_30 s_Absorbance_10-32-04-868 (1).txt'

Mounted at /content/drive

Task 1: Write a method (function) which removes the header information in the datafile and saves that information into a separate textfile. [0.5 points]

In [14]:
numberOfTextRows = 13
def import_metadata(textLines = numberOfTextRows, path = path):
  import pandas as pd
  metadata = str(pd.read_csv(path, delimiter='\t',nrows=textLines-1, header = None))
  with open('metadata.txt', 'w') as outstream:
    outstream.write(metadata)

In [15]:
import_metadata()

In [21]:
with open('metadata.txt', 'r') as instream:
     textlines = instream.readlines()
for i in range(numberOfTextRows):
     print(textlines[i])

                                                    0

0   Data from 4ms_10 av_15 s_Absorbance_10-32-04-8...

1                 Date: Thu Oct 25 10:32:04 CEST 2018

2                                     User: Christoph

3                              Spectrometer: BALLMOOS

4                                     Trigger mode: 4

5                 Integration Time (sec): 4.000000E-3

6                                Scans to average: 10

7              Electric dark correction enabled: true

8              Nonlinearity correction enabled: false

9                                     Boxcar width: 0

10                            XAxis mode: Wavelengths

11                 Number of Pixels in Spectrum: 3648

Task 2: Write a function which reduces the data resolution by averaging over 1, 2, 3 and 4 nm wavelengths. Save these 4 new reduced datasets in new files. Do this (1) by writing an explicit loop and (2) by using pandas methods. Measure the running times of the two approaches. [6 points]

In [74]:
import pandas as pd
df = pd.read_csv(path, delimiter = '\t', header= 13)
df.head()
def reduce(data = df, step = 4):
  jump = round(step/0.1355)
  df_means = pd.DataFrame()
  for i in range(2,len(df.columns)-jump,jump):
    df_means[df.columns[i][0:3]] = (df.iloc[:, range(i,i+jump-1)].mean(axis=1))
  return(df_means)

In [78]:
reduce(step=2).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

,316,318,320,322,324,326,328,330,332,334,...,761,763,765,767,769,770,772,774,776,778
0,-0.028680,0.101028,-0.015659,-0.000251,-0.132270,0.113950,-0.005962,0.138570,0.076516,-0.058373,...,-0.040672,-0.039876,-0.040118,-0.039145,-0.039305,-0.038715,-0.038725,-0.037233,-0.038276,-0.038116
1,-0.294113,0.773131,0.059828,1.072176,-0.234672,-0.045167,-0.065729,0.122814,-0.017854,0.098853,...,-0.040431,-0.040190,-0.040709,-0.039878,-0.038897,-0.038328,-0.038523,-0.037338,-0.038427,-0.037824
2,0.001663,-0.126354,0.064545,-0.048852,-0.054452,-0.115714,0.016753,0.075891,0.110887,-0.021923,...,-0.041005,-0.040167,-0.040604,-0.039305,-0.039007,-0.038554,-0.038805,-0.037213,-0.037898,-0.037236
3,0.001173,-0.008331,0.060772,0.180236,0.068876,0.019446,0.016239,-0.006113,0.169747,-0.121387,...,-0.040089,-0.039510,-0.039628,-0.038476,-0.038185,-0.038010,-0.038275,-0.037332,-0.037473,-0.036803
4,-0.052175,-0.051191,0.122409,-0.048339,-0.011494,0.019095,-0.129859,0.211022,-0.025216,0.272988,...,-0.040374,-0.039547,-0.039957,-0.039306,-0.039130,-0.038660,-0.038484,-0.037391,-0.037963,-0.037701