<a href="https://colab.research.google.com/github/PStettler/DSF-DCBP-Philip-Stettler/blob/main/testings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#test
print('hello world')

hello world

This is normal text...

In [ ]:
#this is code
#z = "ABCDEF"
#for i in z:
#  for j in range(1,len(z)):
#    print(i,j,sep="-")

In [ ]:
#other for loop options
x = ["Apple","Banana","Lemon","Grapes"]
for z in x:
  print(z)

Apple
Banana
Lemon
Grapes

In [ ]:
#other for loop options
for i in range(10):
  print(i**2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
#import pandas as pd
#from google.colab import drive
#drive.mount('/content/drive')
path = '/content/drive/MyDrive/DataScienceFundamentals2022/4ms_10 av_30 s_Absorbance_10-32-04-868 (1).txt'

df = pd.read_csv(path, delimiter='\t',header=13)

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/DataScienceFundamentals2022/4ms_10 av_30 s_Absorbance_10-32-04-868 (1).txt'

df = pd.read_csv(path, delimiter='\t',nrows=12)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head()

  Data from 4ms_10 av_15 s_Absorbance_10-32-04-868.txt Node
0                Date: Thu Oct 25 10:32:04 CEST 2018
1                                    User: Christoph
2                             Spectrometer: BALLMOOS
3                                    Trigger mode: 4
4                Integration Time (sec): 4.000000E-3

In [4]:
import numpy as np
a = np.array([1,2,3,4,5,6])
abol = a < 4
abol
a[abol]

array([1, 2, 3])